.wrapper
= render 'shared/side_bar'
.contents
        
  .main_contents

    .main_contents__header
      .main_contents__header__left
        .main_contents__header__left__title
          =@group.name
        .main_contents__header__left__member
          Member : aaaaaaaaaaaa
      .main_contents__header__right
        =link_to "Edit", class: "main_contents__header__right__btn contents__main_contents__header__right__btn--edit"
    
    .main_contents__chatspace
      = render @messages
      
    .main_contents__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main_contents__form__message', placeholder: 'type a message'
        .main_contents__form__mask
          = f.label :image, class: 'main_contents__form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main_contents__form__submit'
